@model User;

<form asp-controller="TestOne" asp-action="Edit" method="post" class="col-6">
    @Html.HiddenFor(e => e.Id)

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DOB" class="form-label"></label>
        <input type="date" class="form-control" asp-for="DOB" asp-format="{0:yyyy-MM-dd}">
        <span class="text-danger" asp-validation-for="DOB"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <textarea class="form-control" asp-for="Address" placeholder="Enter Address"></textarea>
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-outline-info">Update</button>
        <a class="btn btn-outline-secondary" asp-controller="TestTwo" asp-action="Index">Cancle</a>
    </div>

</form>