@model User;

@{
    ViewData["Title"] = "Create User";
}


<h1 class="display-4 text-center">Create User</h1>

<div class="row d-flex justify-content-center">
    <partial name="_Create" model="Model">
</div>