@model IEnumerable<User>
@{
    ViewData["Title"] = "Test-02";
}
@*page heading*@
<h1 class="display-4 text-center mb-5">Users Management</h1>

<div class="UserData">
    @*user loads here*@
    <partial name="_UsersTable" model="Model" />
</div>

<button class="btn btn-outline-dark my-3" id="CreateUser"><i class="fa fa-plus"></i> Create new User</button>

@*container for toast messages*@
<div id="ToastDisplay"></div>

@*User Create/Edit Form area*@
<div id="UserForm"></div>

@section Scripts{
    <script src="~/js/users-script.js" asp-append-version="true"></script>
}