@model User
@{
    ViewData["Title"] = "User Details Page";
}

<h1 class="display-4 text-center">User Details</h1>
<div class="d-flex justify-content-center">
    <partial name="_UserDetails" model="Model">
</div>
